@require './fonts'

// placeholder for test, dont't remove it.

$color1 = #f8f9fb
$color2 = #f4f5f8
$color3 = #eef0f4

//$accentColor = #f00
// colors
$accentColor = #1f5af6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

$toggleSidebarTransitionDuration = .3s

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile



