@require './fonts'

// placeholder for test, dont't remove it.

$color1 = #f8f9fb
$color2 = #f4f5f8
$color3 = #eef0f4
$color4 = #1f5af6
$color5 = rgba(38, 50, 65, .4)
$color6 = #5a81ea
$color7 = #263241
$color8 = #7f8fa4
$color9 = #9ba6b2
$color10 = #4e5c6e

//$accentColor = #f00
// colors
$accentColor = #1f5af6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

////////////////////////////
$indent1 = 24px
$indent2 = 48px
$indent3 = 32px
$indent4 = 16px
////////////////////////////
$transitionS1 = .3s
////////////////////////////

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile



