.pageContent {
  :global {
    tr {
      //&:hover {
      //  & > * {
      //    border-color
      //  }
      //}
      &:nth-child(2n) {
        background-color var(--color1)
      }
    }
  }
}