@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@require './links'
@require './styles-overlap'

::selection {
    color: var(--color11);
    background: #1890ff;
}
::-webkit-search-cancel-button {
    display: none
}
::-ms-clear {
    display: none
}

* {
    box-sizing border-box
    margin 0
    padding 0
}

html, body {
    padding 0
    margin 0
    background-color var(--color11)
    width 100%
    position relative
}

html {
    position relative
    height 100%
}

body {
    font-family : 'Roboto', sans-serif;
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color var(--color7)
    min-height 100%
}


#app {
    width 100%
    height 100%
    overflow hidden
}

a {
    font-weight 500
    color $color6
    text-decoration none
}

li {
    list-style none
}

//@require 'mobile.styl'
