.linkTextHoverTrigger_type1 {
    &:hover {
        &.linkText_type1,
        .linkText_type1 {
            background-size: 100% 1px;
        }
    }
}
.linkWrapper_type1 {
    display: inline;
    position: relative;
    text-align: left;
}
.linkText_type1 {
    background-image: linear-gradient(270deg,$color6 0,$color6);
    background-size: 0 1px;
    display: inline;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size .3s;
    padding-bottom 6px
}
